view/general/test/learn_dtd/img.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  attributeFormDefault="qualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="figure" type="figType"/>
  <xs:complexType name="figType">
    <xs:sequence>
      <xs:element ref="img"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="img" type="imgType"/>
  <xs:complexType name="imgType">
    <xs:attribute name="src" type="xs:ENTITY" use="required" />
  </xs:complexType>

</xs:schema>